<%- include('./partials/head') %> 
  
  <body>
    <div class="alert alert-primary">
      <span class="material-icons">campaign</span>
      <h1>Form de cadastro</h1>
    </div>
  

    <%- include('./partials/scripts_import') %> 
  </body>
</html>
